.register-wrapper {
  height: 100vh;
  background: #f8f9fa;
}

.register-bg {
  background-image: url('https://img.freepik.com/vector-gratis/ilustracion-intranet-diseno-plano_23-2149363702.jpg');
  background-size: cover;
  background-position: center;
  filter: brightness(0.9);
}
